---
import { Image } from "astro:assets";
import Menu from "@components/menu.astro";
import IMGLogo from "@assets/new/logo.png";
import BtnBlur from "@components/btn-blur.astro";
import ICONChevronLeft from "@assets/new/icons/chevron-left.svg?raw";
import ICONShare from "@assets/new/icons/share.svg?raw";

import Icon from "@components/icon.astro";

interface Props {
	title: string;
	cover: ImageMetadata;
}

const { title, cover } = Astro.props;
---

<header id="header-details">
	<Menu>
		<div class="content-limit">
			<BtnBlur link="/new">
				<Icon icon={ICONChevronLeft} /> Voltar
			</BtnBlur>

			<Image class="logo" src={IMGLogo} alt="Logo Out Country" />

			<BtnBlur>
				<Icon icon={ICONShare} /> Compartilhar
			</BtnBlur>
		</div>
	</Menu>

	<div class="cover-container">
		<Image src={cover} alt={title} />
	</div>

	<div class="title-container content-limit">
		<h1 class="title">{title}</h1>
	</div>
</header>

<style lang="scss">
	#header-details {
		background-color: var(--black);

		.cover-container {
			position: relative;
			width: 100%;
			height: 336px;

			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				background-attachment: scroll;
			}

			&::after{
				content: "";
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
			}
		}

		.logo {
			width: 112px;
			height: auto;
		}

		.content-limit {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: space-between;
		}

		.title-container {
			position: relative;
		}

		h1 {
			position: absolute;
			bottom: 32px;
			left: 16px;

			font-size: 48px;
			font-weight: 900;
			color: var(--white);
		}
	}
</style>
