---
import { Image } from "astro:assets";
import Menu from "@components/menu.astro";
import IMGLogo from "@assets/new/logo.png";
import BtnPlane from "@components/btn-plane.astro";
import BtnBlur from "@components/btn-blur.astro";
import ICONFrance from "@assets/new/france.svg?raw";
import ICONArrowRight from "@assets/new/icons/arrow-right.svg?raw";

import Icon from "@components/icon.astro";

---

<header id="header">
	<Menu>
		<Image class="logo" src={IMGLogo} alt="Logo Out Country" />

		<div class="buttons">
			<BtnPlane anchor="main-destinations" >Destino</BtnPlane>
			<BtnPlane anchor="gallery">Galeria</BtnPlane>
			<BtnPlane anchor="find-us">Onde nos encontrar</BtnPlane>
			<BtnPlane anchor="contact">Entre em contato</BtnPlane>
		</div>
	</Menu>

	<div class="content-limit">
		<h1>Querendo <br class="mobile-only" /> fazer um <br class="desktop-only" /> intercâmbio?</h1>
		<p>Confira nossos destinos</p>
		<div class="btn-row">
			<BtnBlur link="/new/france">
				<Icon icon={ICONFrance} /> França <Icon icon={ICONArrowRight} />
			</BtnBlur>
			<BtnBlur link="/new/italy">
				<Icon icon={ICONFrance} /> Itália <Icon icon={ICONArrowRight} />
			</BtnBlur>
			<BtnBlur link="/new/england">
				<Icon icon={ICONFrance} /> Inglaterra <Icon icon={ICONArrowRight} />
			</BtnBlur>
		</div>
	</div>
</header>

<style lang="scss">
	#header {
		position: relative;
		height: 90vh;

		background-image: url("../../assets/new/bg-header.png");
		background-size: cover;
		background-position: center center;

		display: flex;
		align-items: center;
		justify-content: center;

		h1 {
			font-size: 48px;
			font-weight: 900;
			color: var(--white);
			line-height: 120%;
		}

		p {
			font-size: 16px;
			font-weight: 900;
			color: var(--white);
			margin-top: 32px;
		}

		.btn-row {
			display: flex;
			flex-flow: row nowrap;
			gap: 12px;
			margin-top: 12px;
		}
	}

	.logo {
		width: auto;
		height: 24px;
	}

	.buttons {
		display: flex;
		flex-flow: row nowrap;
		gap: 12px;
	}
</style>
