---
import { Image } from "astro:assets";
import Menu from "@components/menu.astro";
import IMGLogo from "@assets/new/logo.webp";
import BtnPlane from "@components/btn-plane.astro";
import BtnBlur from "@components/btn-blur.astro";
import ICONFrance from "@assets/new/france.svg?raw";
import ICONEngland from "@assets/new/england.svg?raw";
import ICONItaly from "@assets/new/italy.svg?raw";
import ICONArrowRight from "@assets/new/icons/arrow-right.svg?raw";
import IMGBGHeader from "@assets/new/bg-header.webp";

import Icon from "@components/icon.astro";
---

<header id="header">
	<Menu hasHamb={true}>
		<a href="#header" slot="logo">
			<Image class="logo" src={IMGLogo} alt="Logo Travel" />
		</a>

		<div class="buttons" slot="desktop">
			<BtnPlane anchor="main-destinations">Destino</BtnPlane>
			<BtnPlane anchor="gallery">Galeria</BtnPlane>
			<BtnPlane anchor="find-us">Onde nos encontrar</BtnPlane>
			<BtnPlane anchor="contact">Entre em contato</BtnPlane>
		</div>

		<a class="menu-item" slot="mobile" href="#main-destinations">Destino</a>
		<a class="menu-item" slot="mobile" href="#gallery">Galeria</a>
		<a class="menu-item" slot="mobile" href="#find-us">Onde nos encontrar</a>
		<a class="menu-item" slot="mobile" href="#contact">Entre em contato</a>
	</Menu>

	<div class="header-img">
		<Image loading="lazy" class="img-cover" src={IMGBGHeader} alt="Foto de Arco do Triunfo na França" />
	</div>

	<div class="header-content">
		<div class="content-limit">
			<h1>Querendo <br class="mobile-only" /> fazer um <br class="desktop-only" /> intercâmbio?</h1>
			<p>Confira nossos destinos</p>
			<div class="btn-row">
				<BtnBlur link="/new/france" ariaLabel="Ir para a França">
					<Icon icon={ICONFrance} /> França <Icon icon={ICONArrowRight} />
				</BtnBlur>
				<BtnBlur link="/new/italy" ariaLabel="Ir para a Itália">
					<Icon icon={ICONItaly} /> Itália <Icon icon={ICONArrowRight} />
				</BtnBlur>
				<BtnBlur link="/new/england" ariaLabel="Ir para a Inglaterra">
					<Icon icon={ICONEngland} /> Inglaterra <Icon icon={ICONArrowRight} />
				</BtnBlur>
			</div>
		</div>
	</div>
</header>

<style lang="scss">
	#header {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		.header-img {
			height: 600px;
		}

		h1 {
			font-size: 48px;
			font-weight: 900;
			color: var(--white);
			line-height: 120%;
		}

		p {
			font-size: 16px;
			font-weight: 900;
			color: var(--white);
			margin-top: 32px;
		}

		.btn-row {
			display: flex;
			flex-flow: row nowrap;
			gap: 12px;
			margin-top: 12px;
		}

		.header-content {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			gap: 16px;
		}
	}

	.logo {
		width: auto;
		height: 24px;
	}

	.buttons {
		display: flex;
		flex-flow: row nowrap;
		gap: 12px;
	}

	.menu-item {
		font-size: 16px;
		font-weight: 900;
		color: var(--white);
		transition: 300ms;
		text-decoration: none;

		padding: 8px 16px;

		&:hover {
			color: var(--primary-color);
		}
	}

	@media screen and (max-width: 1024px) {
		#header {
			h1 {
				font-size: 40px;
			}

			.btn-row {
				flex-direction: column;
			}
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
</style>
